.big-text {
  font-size: 4rem; 
  color: white;
}

.title-container {
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translateY(-50%);
  animation: slideInTitle 1s forwards;
}

.about-title {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 auto 1rem auto;
}

@keyframes slideInTitle {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.about-page {
  opacity: 0;
  animation: fadeInContent 0.5s 1s forwards; 
}

@keyframes fadeInContent {
  to {
    opacity: 1;
  }
}

body, html {
  height: auto; 
  margin: 0;
  background-color: black;
  overflow-x: hidden; 
  overflow-y: auto; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
}

.text-box, .additional-text-box {
  width: 40%; 
  margin-top: 5vh; 
  opacity: 0;
  padding: 20px;
  color: white;
  font-size: 1.2vw;
  text-align: center;
}

/* Titles within both text boxes */
.text-box .about-title, .additional-text-box .about-title {
  font-size: 2.5vw; 
  font-weight: bold; 
  margin-bottom: 1rem; 
}


.text-box {
  transform: translateX(-100%);
  animation: slideInFromLeft 1s forwards;
}

.additional-text-box {
  transform: translateX(100%);
  animation: slideInFromRight 1s forwards;
}

.about-title {
  font-size: 2.5vw; 
  font-weight: bold; 
  margin-bottom: 1rem;
}

.text-box p {
  font-size: 1.2vw; 
}

.about-page {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  animation: fadeInContent 0.5s 1s forwards;
}



@keyframes slideInFromLeft {
to {
  transform: translateX(0);
  opacity: 1;
}
}

@keyframes slideInFromRight {
to {
  transform: translateX(0);
  opacity: 1;
}
}

.highlight-link {
  color: #FFFFFF; 
  text-decoration: none; 
  transition: color 0.3s ease; 
}

.highlight-link:hover {
  color: #35342f;
  text-decoration: underline; 
}

.song-suggestions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.songs .song {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer; 
}

#shuffleBtn {
  padding: 10px 20px;
  cursor: pointer;
}

.image-section {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap; 
  opacity: 0; 
  animation: fadeInContent 0.5s 1s forwards;
  
}

.image-section a {
  margin: 20px;
  text-decoration: none;
  color: white; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  display: inline-block; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.image-section a:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.image-section img {
  width: 200px; 
  height: auto;
  border-radius: 10px; 
}

.image-section p {
  margin-top: 10px;
  font-size: 1.5em; 
  text-align: center;
}

.song {
  display: inline-block;
  background-color: #1DB954;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px; 
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
}

#shuffleBtn {
  margin-top: -20px; 
  padding: 10px 20px;
  cursor: pointer;
 
}

.shuffle-button {
  display: block;
  margin: 20px auto; 
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0; 
  animation: fadeInContent 0.5s 1s forwards;
}

.shuffle-button img {
  width: 50px;
  height: auto;
  display: block; 
}

.shuffle-button:hover {
  transform: scale(1.1); 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); 
}


.image-section p {
  font-size: 1em; 
  text-align: center;
  font-family: 'Orbitron', sans-serif; 
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,0.7);
}

.song-intro p {
  color: white; 
  text-align: center; 
  font-size: 1.5em; 
  margin-top: 30px;
  margin-bottom: 20px; 
}

.song-intro {
  opacity: 0; 
  animation: fadeInContent 0.5s 1s forwards;
}
