/* Contents of style.css updated */
.big-text {
    font-size: 4rem; 
    
    color: white;
  }
  
  #timer {
    font-size: 6rem; 
    margin-top: 20px;
    color: white; 
  }
  
  body, html {
    height: auto;
    min-height: 100%;
    margin: 0;
    /* background-image: url('images/firewatch2.jpg'); */
    background-color: black;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    overflow-x: hidden;
  }
  
  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    position: relative;
  }

  #timer-controls button {
    margin: 0 10px; /* Space out buttons */
  }

  .timer-input {
    width: 50px; 
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    font-size: 4rem; 
}  

.instruction-text {
  color: white; 
  font-size: 1.5rem; 
  margin: 20px 0; 
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7); 
  font-family: 'Orbitron', sans-serif; /* Using the imported font */
}

.night {
  position:absolute;
  width: 0%;
  height: 50%;
  transform: rotateZ(7deg);
}

.star {
  position: absolute;
  left: 50%;
  top: 30%;
  height: 2px;
  width: 100px;
  background: linear-gradient(-45deg, #FFF, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #FFF);
  animation: tail 5s ease-in-out infinite,
    falling 5s ease-in-out infinite;
}



@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 300px; /*max length of streak */
  }
  100% {
    width: 0;
  }
}

@keyframes falling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(2000px); /*length the starts travel */
  }
}

.star::before,
.star::after{
  content: "";
  position: absolute;
  top: calc(50%-1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #FFF, rgba(0, 0, 255, 0));
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation:shining 3s ease-in-out infinite

}

@keyframes shining {
  0%{
    width: 0;
  }
  50%{
    width: 20px;
  }
  100% {
    width: 0;
  }
}

.star::after{
  transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1){
  top: calc(50% - 100px);
  left: calc(50% - 120px);
  animation-delay: 1.5s;
}

.star:nth-child(1)::before,
.star:nth-child(1)::after {
  animation-delay: 1s;
}

.star:nth-child(2){
  top: calc(50% - 50px);
  left: calc(50% - 1300px);
  animation-delay: 1.2s;
}

.star:nth-child(2)::before,
.star:nth-child(2)::after {
  animation-delay: .8s;
}

.star:nth-child(3){
  top: calc(30% - 0px);
  left: calc(50% - 200px);
  animation-delay: 1.8s;
}

.star:nth-child(3)::before,
.star:nth-child(3)::after {
  animation-delay: 4s;
}
.star:nth-child(4){
  top: calc(2% - 0px);
  left: calc(50% - 200px);
  animation-delay: 1.8s;
}

.star:nth-child(4)::before,
.star:nth-child(4)::after {
  animation-delay: 10s;
}

.moon {
  position: absolute; 
  top: 100px; 
  right: 50px; 
  width: 200px; /* diameter of the moon */
  height: 200px; /* diameter of the moon */
  background-color: rgb(221, 210, 210);
  border-radius: 50%; 
  background-image: 
    radial-gradient(circle at 20px 30px, rgba(0, 0, 0, 0.2), transparent 20px),
    radial-gradient(circle at 70px 50px, rgba(0, 0, 0, 0.3), transparent 25px),
    radial-gradient(circle at 50px 90px, rgba(0, 0, 0, 0.4), transparent 15px),
    radial-gradient(circle at 80px 20px, rgba(0, 0, 0, 0.2), transparent 10px),
    radial-gradient(circle at 40px 70px, rgba(0, 0, 0, 0.3), transparent 20px),
    radial-gradient(circle at 100px 110px, rgba(0, 0, 0, 0.3), transparent 20px);
  box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.5);
  animation: pulseGlow 20s infinite alternate ease-in-out;
}



@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.6);
  }
  100% {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.9);
  }
}

.slow-star {
  animation: tail 20s ease-in-out infinite, 
             falling 20s ease-in-out infinite; 
}

.slower-star {
  animation: tail 10s ease-in-out infinite, 
             falling 10s ease-in-out infinite; 
}

.star2 {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 2px #fff, 0 0 4px #fff;
}

.pulsing-star {
  animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
  0%, 100% {
    box-shadow: 0 0 20px #fff, 0 0 4px #fff;
  }
  50% {
    box-shadow: 0 0 4px #fff, 0 0 8px #fff;
  }
}

.rocket-container {
  position: absolute;
  top: 70%;
  left: 10%;
  transform: translate(-50%, -50%) rotate(-20deg); /*rotation if needed */
  width: 50px; 
  height: 100px; 
  animation: rotate180  100s infinite linear;
}

.rocket {
  width: 100%;
  height: auto;
  transform: rotate(90deg);
  display: block;
  position: relative;
  animation: animate 4s ease infinite;
}

  /* @keyframes animate {
    0%,100%
    {
      transform: translateY(-5px);
    }
    50%
    {
      transform: translatex(5px);
    }
  } */


/* .rocket-container::before {
  content: "";
  position: absolute;
  bottom: -165px; 
  left: 50%;
  transform: translateX(-50%);
  width: 10px; 
  height: 200px; 
  background: linear-gradient(#00d0ff, transparent); 
}

.rocket-container::after {
  content: "";
  position: absolute;
  bottom: -165px; 
  left: 50%;
  transform: translateX(-50%);
  width: 10px; 
  height: 200px; 
  background: linear-gradient(#00d0ff, transparent); 
  filter: blur(20px);
} */

.astro-container {
  position: absolute;
  top: 65%; 
  left: 15%; 
  animation: rotate360 30s infinite linear;
}

.astro {
  width: 30px; 
  height: auto;
  animation: float 20s ease infinite;
}

@keyframes float {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(50px, -50px); 
  }
  50% {
    transform: translate(0px, -70px); 
  }
  75% {
    transform: translate(-50px, -50px); 
  }
}

@keyframes rotate180 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.song-suggestions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.songs .song {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer; 
}

#shuffleBtn {
  padding: 10px 20px;
  cursor: pointer;
}

.image-section {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap; 
  /* margin-bottom: 50px; */
  /* padding-bottom: 50px; */
}

.image-section a {
  margin: 20px;
  text-decoration: none;
  color: white; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  display: inline-block; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image-section a:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.image-section img {
  width: 200px; 
  height: auto;
  border-radius: 10px; 
}

.image-section p {
  margin-top: 10px;
  font-size: 1.5em; 
  text-align: center;
}

.song {
  display: inline-block;
  background-color: #1DB954;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px; 
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
}

#shuffleBtn {
  margin-top: -20px; 
  padding: 10px 20px;
  cursor: pointer;
 
}

.shuffle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.shuffle-button img {
  width: 50px;
  height: auto;
}

.shuffle-button:hover {
  transform: scale(1.1); 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); 
}

.image-section a p {
  font-size: 0.9em; 
  font-family: 'Orbitron', sans-serif;
  color: #fff; 
  text-shadow: 0 1px 2px rgba(0,0,0,0.7); 
}

.button-section {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap; 
  
}

.button-section button {
  margin-bottom: 10px; /* Space between rows */
  margin-right: 10px; /* Space between buttons on the same row */
  width: 100px;
}

.button-section button:last-child {
  margin-right: 0; /* Removes margin from the last button to avoid extra spacing on the right side */
}


.moon, .astro-container, .rocket-container{
  z-index: 2; 
}

.space-travelers {
  position: absolute;
  top: 10;
  left: 10;
}

